# don't track large data files
data/train_x.csv
data/train_y.csv
data/test_x.csv
data/processed_x.csv
data/processed_test_x.csv
data/bw_x.csv
data/bw_rescaled_x.csv
data/bw_rescaled_test_x.csv
data/augmented_x.csv
data/augmented_y.csv
data/LogisticPredictions.csv
data/ConvNetPredictions.csv

# jupyter garbage
DataLoading-checkpoint.ipynb
.ipynb_checkpoints/
